<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Details for  animal: {{animal.name}}</h1>

    <ul>
        <li>legs: {{animal.legs}}</li>
        <li>weight: {{animal.weight}}</li>
        <li>height: {{animal.height}}</li>
        <li>speed: {{animal.speed}}</li>
        <li>family: {{animal.family.name}}</li>
    </ul>

</body>
</html>