<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>right now its: {{ now }}</p>
    <p>my name is {{ myname }}</p>

    {% for letter in letters %}
        <p>{{ letter }}</p>
        {% if letter == 'a' %}
            <p>Jackpot</p>

            {% else %}
            <p>Loser</p>
            {% endif %}
    {% endfor %}

</body>
</html>